USE [master]
GO
/****** Object:  Database [golf]    Script Date: 6/08/2019 11:14:39 AM ******/
CREATE DATABASE [golf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'golf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\golf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'golf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\golf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [golf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [golf]
GO
/****** Object:  Table [dbo].[Golf]    Script Date: 6/08/2019 11:14:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Golf](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Gender] [nchar](10) NULL,
	[DOB] [date] NULL,
	[Street] [nvarchar](50) NULL,
	[Suburb] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Available week days] [nvarchar](50) NULL,
	[Handicap] [nvarchar](50) NULL,
 CONSTRAINT [PK_Golf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Golf] ON 

INSERT [dbo].[Golf] ([ID], [Title], [Firstname], [Surname], [Gender], [DOB], [Street], [Suburb], [City], [Available week days], [Handicap]) VALUES (2, N'Mr.', N'Jatinder', N'Singh', N'M         ', CAST(N'1985-07-25' AS Date), N'Megan Avenue', N'Pakuranga', N'Auckland', N'Monday', N'No')
INSERT [dbo].[Golf] ([ID], [Title], [Firstname], [Surname], [Gender], [DOB], [Street], [Suburb], [City], [Available week days], [Handicap]) VALUES (4, N'Mr.', N'Satinder', N'Singh', N'M         ', CAST(N'1995-07-31' AS Date), N'Enise Avenue', N'Pakuranga', N'Auckland', N'Friday', N'No')
INSERT [dbo].[Golf] ([ID], [Title], [Firstname], [Surname], [Gender], [DOB], [Street], [Suburb], [City], [Available week days], [Handicap]) VALUES (5, N'Miss', N'Jass', N'Kap', N'F         ', CAST(N'1996-02-23' AS Date), N'60, Hobson Streeet', N'Auckland CBD', N'Auckland', N'Sunday', N'Yes')
SET IDENTITY_INSERT [dbo].[Golf] OFF
USE [master]
GO
